<% if @post1.favorited_by?(@post1) %>
    <td>
      <%= link_to fav_posts_path(@post1), class: "fav", remote: true do %>
        <i class="fa fa-heart" id="<%= @post1.id %>"><%= @post1.likes.count %></i>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= link_to fav_posts_path(@post1), class: "fav", remote: true do %>
        <i class="fa fa-heart-o" id="<%= @post1.id %>"><%= @post1.likes.count %></i>
      <% end %>
    </td>
  <% end %>