<nav class="a">
  <div class="icon-group">
    <a class="icon" href="https://twitter.com/unkochan1234567">
      <img src="https://unkapp.com/images/twitter.png" alt="Twitter">
    </a>
    <a class="icon" href="https://www.youtube.com/channel/UCx1nAvtVDIsaGmCMSe8ofsQ">
      <img src="https://unkapp.com/images/youtube.png">
    </a>
  </div>
</nav>
<div class="b-c-d">
  <div class="b">
    <h1>ようこそ</h1>
  </div>
  <div class="c">
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
  </div>
  <div class="d">
    <div class="chara-icon">
      <img class="left-chara" src="http://yukawanet.com/wp-content/uploads/2018/08/unchi_character.png" alt="うんこ君" href="posts/show">
    </div>
    <div class="chara-icon-name-left">うんこ君</div>
    <div class="chara-balloon">
      <div class="chara-balloon-content">
        こんにちは
      </div>
    </div>
    <div class="slide-wrapper">
      <div class="slide-contents">
        <div class="show">
          <img src="https://one-one-only.com/one/wp-content/uploads/2018/01/youtubers-1.jpg" width="920" height="405" alt="">
        </div>
        <div>
          <img src="https://img.jisin.jp/uploads/2019/08/miyasako_hiroyuki1_1_line_tw.jpg" width="920" height="405" alt="">
        </div>
        <div>
          <img src="https://tani-channel.com/wordpress/wp-content/uploads/2014/10/20141024-01.png" width="920" height="405" alt="">
        </div>
        <div>
          <img src="https://www.tvguide.or.jp/wp-content/uploads/2019/08/specialinterview_20190818_02_01.jpg" width="920" height="405" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="e">
  <div class="main-post-header">
    <h1>作品</h1>
      <span class="show-table">
        [<a>show</a>]</span>
    <ul class="show-hide">
    <% @posts.each_with_index do |post, index| %>
      <li>
        <a href="#i-<%= index %>"><%= post %></a>
      </li>
    <% end %>
    </ul>
  </div>
  <h2 id="ranking-name">
    <span id="i-0">オススメTOP5</span>
  </h2>
  <%= render partial: "yutuber" %>
  <h2 id="ranking-name" class="name-sub">
    <span id="i-1">人気男性ユーチューバーTOP5</span>
  </h2>
  <%= render partial: "yutuber2" %>
  <h2 id="ranking-name" class="name-sub">
    <span id="i-2">人気女性ユーチューバーTOP5</span>
  </h2>
  <%= render partial: "yutuber3" %>
</div>
<div class="f">
  <div class="post-new">
    <div class="post">
      <h1>最近の投稿</h1>
    </div>
    <ul class="post-new-post">
    <% @contents.each do |content| %>
      <li class="ppp"><%= content.content %></li>
    <% end %>
    </ul>
  </div>
  <div class="post-month">
    <div class="post">
      <h1>アーカイブ</h1>
    </div>
    <ul class="post-mouth-post">
    <% @ppp.each do |yyyymm, count| %>
      <li class="ppp"><%= link_to ymconv(yyyymm, count.to_s), post_content_path(@post1, yyyymm), class: "bbb" %></li>
    <% end %>
    </ul>
  </div>
</div>
<div class="g">
  <div class="main-app-wrapper">
    <div class="main-app-contents">
      <h1>加藤純一ボイスアプリ</h1>
      <a href="apps" target="_blank" rel="noopener noreferrer">
        <img class="main-app-image" src="https://game.watch.impress.co.jp/img/gmw/list/1193/420/003.jpg" alt="禁煙は貯金だ" scale="0">
      </a>
    </div>
  </div>
</div>
<footer>
  
</footer>
