<nav class="a">
  <audio id='sound' preload="auto" src="https://soundeffect-lab.info/sound/anime/mp3/school-chime1.mp3" type="audio/mp3"></audio>
  <div class="sample-demo">
    <p>【HTML5】要素の背景に動画を使う方法　その1</p>
    <video muted src="http://vodkabears.github.io/vide/video/ocean.mp4" autoplay loop>
    </video>
  <!--sample-demo--></div>
  <div class="icon-group">
    <a class="icon" href="https://twitter.com/unkochan1234567">
      <img src="https://unkapp.com/images/twitter.png" alt="Twitter">
    </a>
    <a class="icon" href="https://www.youtube.com/channel/UCx1nAvtVDIsaGmCMSe8ofsQ">
      <img src="https://unkapp.com/images/youtube.png">
    </a>
    <h1>まだ未完成だよ!</h1>
  </div>
  <%# <!--sample-demo--></div> %>
</nav>
<div class="b-c-d">
  <div class="b">
    <h1></h1>
  </div>
  <div class="c">
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
    <p class="title-comment">YouTube</p>
  </div>
  <div class="d">
    <div class="chara-icon">
      <img class="left-chara" src="http://yukawanet.com/wp-content/uploads/2018/08/unchi_character.png">
    </div>
    <img class="kkk" src="http://yukawanet.com/wp-content/uploads/2018/08/unchi_character.png"
    data-500="transform:translateX(-800px);"
    data-800="transform:translateX(-300px);"
    >
    <img class="chara-icon2" src="https://www.nhkmec.com/wpress/wp-content/uploads/031-01-01.jpg">
    <div class="chara-icon-name-left">うんこ君</div>
    <div class="chara-balloon">
      <div class="chara-balloon-content">
        こんにちは
      </div>
    </div>
    <div class="slide-wrapper">
      <div class="slide-contents">
        <div class="show">
          <img src="https://one-one-only.com/one/wp-content/uploads/2018/01/youtubers-1.jpg" width="920" height="405" alt="">
        </div>
        <div>
          <img src="https://img.jisin.jp/uploads/2019/08/miyasako_hiroyuki1_1_line_tw.jpg" width="920" height="405" alt="">
        </div>
        <div>
          <img src="https://tani-channel.com/wordpress/wp-content/uploads/2014/10/20141024-01.png" width="920" height="405" alt="">
        </div>
        <div>
          <img src="https://www.tvguide.or.jp/wp-content/uploads/2019/08/specialinterview_20190818_02_01.jpg" width="920" height="405" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="e">
  <div class="main-post-header">
    <h1>作品</h1>
      <span class="show-table">
        [<a>show</a>]</span>
    <ul class="show-hide">
    <% @posts.each_with_index do |post, index| %>
      <li>
        <a href="#i-<%= index %>"><%= post %></a>
      </li>
    <% end %>
    </ul>
  </div>
  <h2 id="ranking-name">
    <span id="i-0">オススメTOP5</span>
  </h2>
  <%= render partial: "yutuber" %>
  <h2 id="ranking-name" class="name-sub">
    <span id="i-1">人気男性ユーチューバーTOP5</span>
  </h2>
  <%= render partial: "yutuber2" %>
  <h2 id="ranking-name" class="name-sub">
    <span id="i-2">人気女性ユーチューバーTOP5</span>
  </h2>
  <%= render partial: "yutuber3" %>
</div>
<div class="f">
  <div class="post-new">
    <div class="post">
      <h1>最近の投稿</h1>
    </div>
    <ul class="post-new-post">
    <% @contents.each do |content| %>
      <li class="ppp"><%= content.content %></li>
    <% end %>
    </ul>
  </div>
  <div class="post-month">
    <div class="post">
      <h1>アーカイブ</h1>
    </div>
    <ul class="post-mouth-post">
    <% @ppp.each do |yyyymm, count| %>
      <li class="ppp"><%= link_to ymconv(yyyymm, count.to_s), post_content_path(@post1, yyyymm), class: "bbb" %></li>
    <% end %>
    </ul>
  </div>
</div>
<div class="g">
  <div class="main-app-wrapper">
    <div class="main-app-contents">
      <h1>加藤純一ボイスアプリ</h1>
      <a href="apps" target="_blank" rel="noopener noreferrer">
        <img class="main-app-image" src="https://game.watch.impress.co.jp/img/gmw/list/1193/420/003.jpg" alt="禁煙は貯金だ" scale="0">
      </a>
    </div>
    <div class="main-app-contents">
      <h1>加藤純一クイズアプリ</h1>
      <a href="posts/1" target="_blank" rel="noopener noreferrer">
        <img class="main-app-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp10hIzECKPKKyrmzudxbEwdW8ixa0YJwH06MDrZgtcmu_lL5SrA" alt="禁煙は貯金だ" scale="0">
      </a>
    </div>
  </div>
</div>
<footer id="<%= @post1.id %>">
  <%= render partial: 'likes/like' %>
  <div class="block tac">
	  <a style="display: inline-block;" id="rippleria" href="#">
	    <img class="mmm" src="http://yukawanet.com/wp-content/uploads/2018/08/unchi_character.png" alt="image">
    </a>
    <h1 class="cooo">終わり</h1>
  </div>
</footer>

